<h1 mat-dialog-title>Add new link</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <p>Enter link label:</p>
    <input matInput [(ngModel)]="data.label" />
  </mat-form-field>

  <mat-form-field class="full-width">
    <input
      matInput
      placeholder="Select Source Node"
      aria-label="Source"
      [matAutocomplete]="autoSrc"
      [formControl]="sourceCtrl"
      [(ngModel)]="data.source"
    />
    <mat-autocomplete #autoSrc="matAutocomplete">
      <mat-option
        *ngFor="let src of filteredSrcNodes | async"
        [value]="src.uuid"
      >
        <span>{{ src.label }}</span> |
        <small>UUID: {{ src.uuid }}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input
      matInput
      placeholder="Select Target Node"
      aria-label="Select Target Node"
      [matAutocomplete]="autoTar"
      [formControl]="targetCtrl"
      [(ngModel)]="data.target"
    />
    <mat-autocomplete #autoTar="matAutocomplete">
      <mat-option
        *ngFor="let tar of filteredTarNodes | async"
        [value]="tar.uuid"
      >
        <span>{{ tar.label }}</span> |
        <small>UUID: {{ tar.uuid }}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">Cancel</button>
  <button mat-raised-button [mat-dialog-close]="data" cdkFocusInitial>
    Ok
  </button>
</div>
