<div class="container">
  <h1>Testing NGX Graph here:</h1>
  <div class="container">
    <button mat-raised-button color="primary" (click)="fitGraph()">Fit</button>
    <div class="button-space"></div>
    <button mat-raised-button color="primary" (click)="centerGraph()">Center</button>
  </div>
</div>

<div class="chart-container">
  <ngx-graph
    class=""
    [view]="view"
    layout="dagreCluster"
    [links]="ngxLinks"
    [nodes]="ngxNode"
    [clusters]="ngxCluster"
  
    [enableZoom]="enableZoom"
    [autoZoom]="autoZoom"
    [panOnZoom]="panOnZoom"
    [panningAxis]="both"
    [autoCenter]="autoCenter"
    [curve]="curve"
    [zoomToFit$]="zoomToFit$"
    [center$]="center$"
  >
  
  <ng-template #defsTemplate>
    <svg:marker 
      id="arrow" 
      viewBox="0 -5 10 10" 
      refX="8" 
      refY="0" 
      markerWidth="4" 
      markerHeight="4" 
      markerUnits="strokeWidth"
      stroke-width="2"
      orient="auto"
    >
      <svg:path d="M0,-5L10,0L0,5" fill="#666" class="arrow-head" />
    </svg:marker>
  </ng-template>
  
  <ng-template #nodeTemplate let-node>
    <svg:g class="node" ngx-tooltip [tooltipPlacement]="'top'" [tooltipType]="'tooltip'" [tooltipTitle]="node.profile">
      <svg:rect
        [attr.rx]="3"
        [attr.width]="node.dimension.width"
        [attr.height]="node.dimension.height"
        [attr.fill]="node.data.color"
      />
      <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="15">{{node.label}}</svg:text>
    </svg:g>
  </ng-template>
  
  <ng-template #linkTemplate let-link>
    <svg:g class="edge">
      <svg:path
        class="line"
        stroke-width="2"
        marker-end="url(#arrow)" >
      </svg:path>
      <svg:text
        class="edge-label"
        text-anchor="middle">
      <textPath
        style="fill: #666;"
        [attr.href]="'#' + link.id"
        startOffset="60%"
      >
        {{link.label}}
      </textPath>
    </svg:text>
    </svg:g>
  </ng-template>
  
  <ng-template #clusterTemplate let-cluster>
    <svg:g class="node cluster">
      <svg:rect rx="5" ry="5" [attr.width]="cluster.dimension.width" [attr.height]="cluster.dimension.height" [attr.fill]="cluster.data.color"/>
      <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="15">{{cluster.label}}</svg:text>
    </svg:g>
  </ng-template>
  
  </ngx-graph>
</div>


<router-outlet></router-outlet>